
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<style>
    #choice {
        color: darkblue;
        font-weight: bold;
        font-size: 20px
    }
</style>


<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Customer Profile</li>
    </ol>

    <!--Body-->
    <div class="card mb-3">
        <div class="card-header" id="choice">
            Profile
        </div>
        <div class="card-body">

            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td>LoginName</td>
                        <td>Tiger1</td>

                    </tr>

                    <tr>
                        <td>FirstName </td>
                        <td>Tiger</td>

                    </tr>

                    <tr>
                        <td>LastName </td>
                        <td>Dixon</td>
                    </tr>

                    <tr>
                        <td>Gender </td>
                        <td>Male</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header" id="choice">
            Address Info
        </div>
        <div class="card-body">

            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td>Street </td>
                        <td>345 Nguyen Cong Tru</td>

                    </tr>

                    <tr>
                        <td>Ward </td>
                        <td>5</td>

                    </tr>

                    <tr>
                        <td>District </td>
                        <td>Tan Binh</td>
                    </tr>

                    <tr>
                        <td>City </td>
                        <td>Ho Chi Minh</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header" id="choice">
            Contact Info
        </div>
        <div class="card-body">

            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td>Email </td>
                        <td>tigerdixon@gmail.com</td>

                    </tr>

                    <tr>
                        <td>PhoneNumber </td>
                        <td>098677432</td>

                    </tr>

                   
                </tbody>
            </table>
        </div>
    </div>
</div>
