
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="masthead full-width-image">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-light text-white">Contact us</h1>
                <p class="lead text-white">Truth is certainly a branch of morality and a very important one to society.</p>
            </div>
        </div>
    </div>
</header>d
@*<div class="full-width-image">
    <img src="~/Content/Client/img/Desktop_Account_Banner.jpg" class="img-fluid" alt="Responsive image">
</div>*@


<div class="mt-3" style="">
        @*<div class="container-fluid">
            <h1 class="display-3">Stay contact</h1>
            <p class="lead">Online Banking for Foreign Trade of India, formerly known as Bank for Foreign trade of India, was established on 01/04/1963 from the Foreign Exchange Bureau (of the State Bank of Vietnam). Being the first state commercial bank chosen for pilot privatization by the Government, Joint Stock Commercial Bank for Foreign Trade of Vietnam officially came in to operation on 02/06/2008, after successfully implementing the equitization plan through IPO.</p>
        </div>*@
    <h1 class="text-center mb-3 mt-5">Head Office</h1>
    <div class="row">
        <div class="col-sm-6">
            <div class="">
                <h3 class="">Headquarter</h3>
                <p>Shegaon-Ajangaon Rd, Maharashtra 442907, India</p>
                <div id="map">
                    <div class=""><div class="">
                        <iframe width="500" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=Shegaon-Ajangaon%20Rd%2C%20Maharashtra%20442907%2C%20India&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="">
                <h3 class="">Support</h3>
                <p>Please contact Online Banking so that we can directly advise you on the products and services you are interested in. We are always available to listen and support you!</p>
                <ul class="contact-by">
                    <li>
                        <a href="tel:(+84) 24 22200588" title="(+84) 24 22200588"><span>(+84) 24 22200588</span></a>
                    </li>
                    <li>
                        <a href="tel:19009247" title="19009247"><span>19009247</span></a>
                    </li>
                    <li>
                        <a href="mailto:bidv247@bidv.com.vn" title="ob247@onlinebanking.com" target=""><span>ob247@onlinebanking.com</span></a>
                    </li>
                </ul>
            </div>

            <div class="">
                <h3 class="">Investor Support (Shareholders)</h3>
                <p>Board of Directors Secretariat</p>
                <p>22nd Floor, OB Tower, Shegaon-Ajangaon Rd, Maharashtra 442907, India</p>
                <ul class="">
                    <li>
                        <a href="tel:(+84) 24 22201099" title="(+84) 24 22201099"><span>(+84) 24 22201099</span></a>
                    </li>
                    <li>
                        <a href="mailto:investor@onlinebanking.com" title="investor@onlinebanking.com" target=""><span>investor@onlinebanking.com</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="row mb-3">
    <div class="col-3"></div>
    <div class="col-6">
        <h1 class="text-center mb-4">Send to us</h1>
        <div class="card">
            <h5 class="card-header text-center">Your feedback</h5>
            <div class="card-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputAddress2">Full name</label>
                            <input type="text" class="form-control" id="inputAddress2" placeholder="Your full name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Telephone</label>
                            <input type="text" class="form-control" id="inputPassword4" placeholder="Telephone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Address</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">City</label>
                            <input type="text" class="form-control" id="inputCity">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">State</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputZip">Zip</label>
                            <input type="text" class="form-control" id="inputZip">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Your message</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>
        
    </div>
    <div class="col-3"></div>
</div>
    