
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Content/Client/img/slide1.jpg" width="100%" height="500">
            <div class="carousel-caption " style="left:20px">
                <div class="" style="color:white;z-index:100 ;padding-bottom:180px">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 pull-left">
                            <p class="text-center" style="    text-shadow: 5px 4px 3px grey;">Create a professional, friendly working environment, career development opportunities and worthy benefits for all employees</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img src="~/Content/Client/img/slide4.jpg" width="100%" height="500">
            <div class="carousel-caption " style="left:20px">
                <div class="" style="color:white;z-index:100 ;padding-bottom:180px">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 pull-left">
                            <p class="text-center" style="    text-shadow: 5px 4px 3px grey;">Online is proud to be the longest-established financial institution with the most valuable brand in Vietnam</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/Content/Client/img/slide2.jpg" width="100%" height="500">
            <div class="carousel-caption " style="left:20px">
                <div class="" style="color:white;z-index:100 ;padding-bottom:180px">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 pull-left">
                            <p class="text-center" style="    text-shadow: 5px 4px 3px grey;">Create a professional, friendly working environment, career development opportunities and worthy benefits for all employees</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/Content/Client/img/slide3.jpg" width="100%" height="500">
            <div class="carousel-caption " style="left:20px">
                <div class="" style="color:white;z-index:100 ;padding-bottom:180px">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 pull-left">
                            <p class="text-center" style="    text-shadow: 5px 4px 3px grey;">Create a professional, friendly working environment, career development opportunities and worthy benefits for all employees</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img src="~/Content/Client/img/slide5.jpg" width="100%" height="500">
            <div class="carousel-caption " style="left:20px">
                <div class="" style="color:white;z-index:100 ;padding-bottom:180px">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 pull-left">
                            <p class="text-center" style="    text-shadow: 5px 4px 3px grey;">Create a professional, friendly working environment, career development opportunities and worthy benefits for all employees</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<hr />
<h4 class="card-title text-black-50 text-center" style="text-shadow: 1px 1px 2px gray">Mission – Vision, Core Value Of <b>ONLINEBANKING</b></h4>
<hr />
<div class="row">
    <div class="col-lg-12 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <img src="~/Content/Client/img/caption.jpg" width="100%" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="card">

                            <div class="card-body">
                                <h3>Mission –  Core Value</h3>
                                <hr />
                                <p>
                                    <b>OnlineBanking</b> always accompanies, shares and provides the best financial and banking services for customers; Commitment to bring best value to shareholders; create a professional, friendly working environment, career development opportunities and rewarding benefits for all employees; and is a pioneer in community development.
                                </p>
                                <br />
                                <h3>Vision</h3>
                                <hr />
                                <p>

                                    Becoming a bank with the highest quality, efficiency and reputation in World.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<div class="card">
    <div class="card-body">
        <div class="card-header">
            <h3>
                Exchange rates
            </h3>
        </div>
    </div>

<div class="container">
    
    <table id="hor-ex-b" cellpadding="5" cellspacing="1" class="table table-striped table-hover table-responsive">
        <tbody>
            <tr>
                <td align="center" width="5%"></b></td>
                <td align="center" width="20%"><b>Currency</b></td>
                <td align="center" width="20%"><b>Center Rate</b></td>
                <td align="center" width="20%"><b>Buy</b></td>
                <td align="center" width="20%"><b>Transfer</b></td>
                <td align="center" width="20%"><b>Sell</b></td>

            </tr>
            <tr class="ex-odd">
                <td>
                    <img src="~/Content/Client/img/aud.jpg" height="30px;" />
                </td>
                <td align="center">AUD</td>
                <td align="center">-</td>
                <td align="center">16,435</td>
                <td align="center">16,565</td>
                <td align="center">16,855</td>
            </tr>
            <tr class="ex-odd">
                <td>
                    <img src="~/Content/Client/img/usd.jpg" height="30px;" />
                </td>
                <td align="center">USD</td>
                <td align="center">22,991</td>
                <td align="center">#23,141</td>
                <td align="center">23,151</td>
                <td align="center">23,251</td>
            </tr>
            <tr class="ex-even">
                <td>
                    <img src="~/Content/Client/img/cad.jpg" height="30px;" />
                </td>
                <td align="center">CAD</td>
                <td align="center">-</td>
                <td align="center">17,137</td>
                <td align="center">17,253</td>
                <td align="center">17,534</td>
            </tr>
            <tr class="ex-odd">
                <td>
                    <img src="~/Content/Client/img/chf.jpg" height="30px;" />
                </td>
                <td align="center">CHF</td>
                <td align="center">-</td>
                <td align="center">22,727</td>
                <td align="center">22,878</td>
                <td align="center">23,211</td>
            </tr>

            <tr class="ex-even">
                <td>
                    <img src="~/Content/Client/img/eur.jpg" height="30px;" />
                </td>
                <td align="center">EUR</td>
                <td align="center">-</td>
                <td align="center">#25,976</td>
                <td align="center">25,996</td>
                <td align="center">26,711</td>
            </tr>

            <tr class="ex-odd">
                <td>
                    <img src="~/Content/Client/img/gbp.jpg" height="30px;" />
                </td>
                <td align="center">GBP</td>
                <td align="center">-</td>
                <td align="center">29,883</td>
                <td align="center">30,103</td>
                <td align="center">30,523</td>
            </tr>
            <tr class="ex-even">
                <td>
                    <img src="~/Content/Client/img/hkd.jpg" height="30px;" />
                </td>
                <td align="center">HKD</td>
                <td align="center">-</td>
                <td align="center">2,916</td>
                <td align="center">2,933</td>
                <td align="center">3,033</td>
            </tr>
            <tr class="ex-odd">
                <td>
                    <img src="~/Content/Client/img/jpy.jpg" height="30px;" />
                </td>
                <td align="center">JPY</td>
                <td align="center">-</td>
                <td align="center">204.69</td>
                <td align="center">205.64</td>
                <td align="center">211.19</td>
            </tr>
            <tr class="ex-even">
                <td colspan="6" align="right">
                    <b>Update On : @ViewBag.date</b>
                </td>
            </tr>

        </tbody>
      
    </table>
    
</div>
</div>