
@{
    ViewBag.Title = "Privacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #title {
        font-weight: bold;
        text-align: center;
    }
</style>

<div class="container">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active">Privacy & Security </li>
    </ol>
    <!--Content-->
    <div class="table-responsive">
        <table class="table table-striped table-bordered" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th> <h6 id="title">SECURITY PRINCIPLES</h6></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>By using the Bank Website, you are always concerned for and consider the issue of security for your personal information</td>
                </tr>
                <tr>
                    <td>Bank has the right of legal use of your provided information via this Website to conduct other activities of Bank.</td>
                </tr>
                <tr>
                    <td>Bank will not disclose your information to any individual or organization unless obtaining your consent or as prescribed by law; </td>
                </tr>
                <tr>
                    <td>The access to your information by Bank, its employees and / or other authorized individuals has to comply with security regulations of Bank.</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th> <h6 id="title">COLLECTION OF PERSONAL INFORMATION</h6></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> To analyze data of visitors, your visit to this Website may be recorded. Through this collection, we’re aiming to provide you with an improved, more personalised service and a more effective website.</td>
                </tr>
                <tr>
                    <td>Some of the information of site’s visitors will be gathered through the use of "cookies". If you want to disable these cookies, you may do so by changing the setting on your browser</td>
                </tr>
                <tr>
                    <td>Bank collects information from your visits to this site to advise you on products, services and other marketing materials, which we think, may be of interest and demand to you.</td>
                </tr>
            </tbody>
        </table>


    </div>

</div>

