
@{
    ViewBag.Title = "Term";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #title {
        font-weight: bold;
        text-align: center;
    }
</style>

<div class="container">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active">Terms & Conditions</li>
    </ol>
    <!--Content-->
    <div class="table-responsive">
        <table class="table table-striped table-bordered" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th> <h6 id="title">COPYRIGHT AND TRADEMARKS</h6></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Content of this Website including entire or partial section such as trademarks, images, logos, marks, softwares, documents and others are Bank’s asset.</td>
                </tr>
                <tr>
                    <td> Bank trademarks, with logos, name, colors and marks displayed on this Website are protected by Bank according to the law.</td>
                </tr>
                <tr>
                    <td>As  the legal owner of all of content displayed on the Website, Bank has total right of amendment, supplement or removal of any content of this website without any notification. </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th> <h6 id="title">NON-WARRANTY</h6></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Within limits allowed by law, will not be liable for any damages, losses directly or indirectly incurred relating to this Website and / or other websites linked to or from any party</td>
                </tr>
                <tr>
                    <td> Bank will not warrant the accuracy, relevance and completeness of the contents displayed on the Website, nor guarantee not to violate the rights, property rights of third parties, or free virus of this Site</td>
                </tr>
                <tr>
                    <td>Bank does not warrant that the system is free of delay, interruption, defect, loss of transmission signal caused by the transmitting equipment which is not under the control of the Bank</td>
                </tr>
                <tr>
                    <td>Please use appropriate equipment, protection program and run virus scans to download information  </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th> <h6 id="title">ACCESS AND USE</h6></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Bank prohibits unauthorized use of this Website, including but not limited to, unauthorized access, misuse of passwords or any information, documents posted on the page</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

